@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');


*{
	box-sizing: border-box;
    border: 0;
    font-family: inter;
    box-shadow: none;
    margin: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    width: 150px;
}

.main-content h1{
    font-weight: 700;
    font-size: 3.75em;
    text-align: center;
    margin: 50px;
}

button{
    background: #1B54DD;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: 600; 
    width: 150px;
    height: 60px;
}

button:hover{
    cursor: pointer;
}

.img-principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 800px;
}

.main-content h2{
    text-align: center;
    font-size: 1.56em;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    font-weight: 400;
}

.main-article{
    margin: auto;
    width: 40%;
    
}

article {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

article img{
    width: 200px;

}

article div{
    margin: 0;
    padding: 40px;
    font-size: 20px;
    width: 600px;
}

article:nth-child(2) div{
    width: 650px;
}

article:nth-child(2) div p{
    width: 400px;
}

article:nth-child(3) div p{
    width: 400px;
    line-height: 25px;
}

article div h1{
    font-weight: 600;
}

footer{
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    background-color: #E8E8E8;
}

footer div{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

footer .social img{
    width: 32px;
}

.dmi-logo{
    padding: 20px;
}

address{
    font-style: normal;
    font-weight: 400;
}

/* IPHONE XR */

@media (max-width: 414px){
    
    .logo{
        padding-top: 4%;
    }

    .main-content h1{
        font-size: 3em;
    }

    .main-content img{
        width: 350px;
    }

    .main-content h2{
        width: 335px;
    }

    .main-article{
        margin: auto;
        width: auto;
        align-items: center;
    }

    article{
        display: flex;
        flex-direction: column;
    }

    article div{
        padding: 10px;
        width: 360px;
        display: flex;
        flex-direction: column;
    }

    article:nth-child(2) div{
        width: 380px;
    }
    
    article:nth-child(2) div p{
        width: 300px;
    }
    
    article:nth-child(3) div p{
        width: 290px;
    }

}

